.headerdiv {
    background-color:rgb(248, 196, 151);
        color:black;
        font-family:Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        padding: 15px 30px;
    text-decoration: none;
    font-size: 30px;
    flex-direction: column;
justify-content: center;
display: flex;
align-items: center;
margin: 20px;
}


#titles{

	color:darkgray;
	font-size: 50px;
	font-family:Arial, Helvetica, sans-serif ;
	text-align: center;
}

/* Add a black background color to the top navigation */
.container-fluid {
    background-color:crimson;
    overflow: hidden;
    font-size: 30px;
    position: -webkit-sticky;

  }
  
  /* Style the links inside the navigation bar */
  .navigatorbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 30px;
    text-decoration: none;
    font-size: 30px;
    position: -webkit-sticky;
    font-family: Georgia, 'Times New Roman', Times, serif;

    
  }
  
  /* Change the color of links on hover */
  .navigatorbar a:hover {
    background-color:hotpink;
    color:rgb(255, 255, 255);
    transition: ease-in 3s;
  }
  
  /* Add a color to the active/current link */
  .navigatorbar a.active {
    background-color: #4CAF50;
    color: white;
  }

  titles {
    
    color:rgb(58, 23, 23);
    text-align: center;
    align-items: center;
    
    font-family: Georgia, 'Times New Roman', Times, serif;

  }

  .intro {


    color:rgb(58, 23, 23);
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;

  }
  
  .carousel-inner {
    margin: 20px;
  }
  img {
    padding: 10px;
    
      align-items: center;
      text-align: center;
      text-align: center;
      flex-direction: column;
      justify-content: center;
      display: flex;
  }

  .h5, h5 {
    font-size: 1.25rem;
    color: rgb(255, 255, 255);
  }

  .carousel-inner {
    width:600px;
    height:400px;
  }
  
  .carousel-inner img {
    margin: auto;
  }
 
  .button{
    color: black;
  }


  .carousel-inner {
    color: black;
  }


  .collapse in {
    display: block;
}
.collapse {
    display: none
}






  ul.social-network {
    list-style: none;
    display: inline;
    margin-left:0 !important;
    padding: 0;
  }

  ul.social-network li {
    display: inline;
    margin: 0 5px;
  }
  
  
  .social-network a.icoFacebook:hover {
    background-color:#3B5998;
  }
  .social-network a.icoTwitter:hover {
    background-color:#33ccff;
  }

  .social-network a.icoLinkedin:hover {
    background-color:#007bb7;
  }
  .social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
  .social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
    color:#fff;
  }
  a.socialIcon:hover, .socialHoverClass {
    color:#44BCDD;
  }
  
  .social-circle li a {
    display:inline-block;
    position:relative;
    margin:0 auto 0 auto;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    border-radius:50%;
    text-align:center;
    width: 50px;
    height: 50px;
    font-size:20px;
    background-color: #D3D3D3;
  }
  .social-circle li i {
    margin:0;
    line-height:50px;
    text-align: center;
  }
  
  .social-circle li a:hover i, .triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
  }
  .social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
  }



  .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }